/* --- BASE WINDOW --- */
.ui-window {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-family-secondary);

  position: absolute;
  z-index: 100;
  user-select: none;
  border: 1px solid var(--color-border);
  min-height: 100px;
  min-width: 320px;
  box-shadow: var(--shadow-bold);
  border-radius: 0.4rem;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  resize: both;
}

/* --- TITLE BAR --- */
.ui-window__title-bar {
  background-color: var(--color-bg-variant);

  padding: 6px 4px 6px 10px;
  border-bottom: 1px solid var(--color-border-light);
  cursor: grab;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}
.ui-window__title {
  color: var(--color-text-primary);
  font-size: 0.9rem;
  font-weight: 600;
}

/* --- TITLE BAR BUTTONS --- */
.ui-window__title-bar__button {
  background: none;
  font-size: 14px;
  line-height: 1;

  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.ui-window__title-bar__button__wrapper {
  display: flex;
  gap: 4px;
  flex-shrink: 0;
}

/* --- CONTENT WRAPPER (CONTAINS CONTENT BAR AND CONTENT CONTAINER) --- */
.ui-window__content__wrapper {
  display: flex;
  position: relative;
  flex-grow: 1;
  min-height: 0;
  background: var(--color-bg-secondary);
}
.ui-window__content__wrapper.left,
.ui-window__content__wrapper.right {
  flex-direction: row;
}
.ui-window__content__wrapper.top,
.ui-window__content__wrapper.bottom {
  flex-direction: column;
}

/* --- CONTENT CONTAINER (CONTAINS THE ACTUAL CONTENT) --- */
.ui-window__content-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  order: 2;
}
.ui-window__content__wrapper.bottom > .ui-window__content-container,
.ui-window__content__wrapper.right > .ui-window__content-container {
  order: 1;
}

/* --- CONTENT BAR --- */
.ui-window__content-bar {
  background: var(--color-bg-primary);
  gap: 6px;
  flex-shrink: 0;
  order: 1;
  padding: 2px;

  box-sizing: border-box;
  display: none;
  align-items: center;
}
.ui-window__content__wrapper.bottom > .ui-window__content-bar,
.ui-window__content__wrapper.right > .ui-window__content-bar {
  order: 2;
}
.ui-window__content__wrapper.top > .ui-window__content-bar,
.ui-window__content__wrapper.bottom > .ui-window__content-bar {
  padding-left: 8px;
  padding-right: 4px;
  width: 100%;

  flex-direction: row;
}
.ui-window__content__wrapper.left > .ui-window__content-bar,
.ui-window__content__wrapper.right > .ui-window__content-bar {
  padding-top: 8px;
  padding-bottom: 4px;
  height: 100%;
  width: 32px;

  flex-direction: column;
}

/* --- CONTENT BAR SEPARATOR --- */
.ui-window__content-bar__separator {
  background-color: var(--color-border-strong);
  flex-shrink: 0;
  flex-grow: 0;
}
.ui-window__content-bar__separator.is-spacer {
  background-color: transparent;
  flex-grow: 1;
}
.ui-window__content__wrapper.top .ui-window__content-bar__separator:not(.is-spacer),
.ui-window__content__wrapper.bottom .ui-window__content-bar__separator:not(.is-spacer) {
  width: 1px;
  height: 90%;
}
.ui-window__content__wrapper.left .ui-window__content-bar__separator:not(.is-spacer),
.ui-window__content__wrapper.right .ui-window__content-bar__separator:not(.is-spacer) {
  width: 90%;
  height: 1px;
}

/* --- CONTENT --- */
.ui-window__content {
  gap: 10px;
  padding: 10px;
  flex-grow: 1;
  min-height: 0;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* --- CONTENT BAR BUTTONS --- */
.ui-window__content-bar__button {
  background: transparent;
  border: none;
  border-radius: 6px;
  width: 28px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.15s ease;
}
.ui-window__content-bar__button:hover {
  background: var(--color-hover);
}
.ui-window__content-bar__button__icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
  filter: brightness(0.9);
}

/* --- CONTENT SCROLLBAR --- */
.ui-window__content::-webkit-scrollbar {
  width: 10px;
  background: var(--color-bg-secondary);
}
.ui-window__content::-webkit-scrollbar-thumb {
  background-color: var(--color-hover);
  border-radius: 3px;
  border: none;
}
.ui-window__content::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-active);
}

/* --- CONTENT RICH TEXT --- */
.ui-window__content ul,
.ui-window__content ol {
  margin: 5px 0 5px 20px;
  padding: 0;
  font-size: 0.9rem;
  line-height: 1.4;
}
.ui-window__content li {
  margin-bottom: 4px;
}
.ui-window__content a {
  color: #58a6ff;
  text-decoration: none;
  transition: color 0.1s;
}
.ui-window__content a:hover {
  color: #8bbdff;
  text-decoration: underline;
}

/* --- HEADINGS --- */
.ui-window__content__heading-title {
  color: var(--color-text-primary);
  font-weight: 600;
  font-size: 1.2rem;

  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--color-active);
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.ui-window__content__heading-section {
  color: var(--color-text-primary);
  font-size: 1rem;

  padding: 0;
  margin: 0;
  font-weight: 600;
  border-bottom: 1px solid var(--color-active);
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}

/* --- TEXT --- */
.ui-window__content__text {
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

/* --- Image --- */
.ui-window__content__image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px auto;
  border-radius: 4px;
  object-fit: contain;
  border: 1px solid var(--color-hover);
}

/* --- SIMPLE BUTTON --- */
.ui-window__content__button {
  font-family: var(--font-family-primary);
  background-color: var(--color-hover);
  color: white;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 0.25rem;
  transition: background-color 0.1s ease-in-out;
  border: none;
  cursor: pointer;
  text-align: center;
}
.ui-window__content__button:hover {
  background-color: var(--color-active);
}

/* --- SEPARATOR --- */
.ui-window__content__separator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  width: 100%;
}
.ui-window__content__separator__line {
  background-color: var(--color-active);
  height: 1px;
  width: 100%;
}

/* --- TEXT INPUT --- */
.ui-window__content__text-input__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ui-window__content__text-input__wrapper label {
  flex-shrink: 0;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: var(--color-hover);
  border-radius: 3px;
  margin: 10px 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 18px;
  border-radius: 3px;
  background: var(--color-active);
  cursor: pointer;
  border: none;
}
input[type="number"] {
  background-color: var(--color-hover);
  color: #ccc;
  border: none;
  padding: 6px 8px;
  font-size: 0.9rem;
  border-radius: 6px;
  width: 65px;
  text-align: center;
  flex-grow: 0;
  transition: background-color 0.15s ease, border-color 0.15s ease;
}
input[type="number"]:focus {
  outline: none;
  background-color: var(--color-active);
}
select {
  display: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}
input[type="text"] {
  background-color: var(--color-hover);
  color: var(--color-text-primary);
  border: none;
  padding: 6px 8px;
  font-size: 0.9rem;
  border-radius: 4px;
  flex-grow: 1;
  min-width: 0;
  box-sizing: border-box;
  transition: background-color 0.15s ease, border-color 0.15s ease;
}
input[type="text"]:focus {
  outline: none;
  background-color: var(--color-active);
}

/* --- DROPDOWN --- */
.ui-window__content__dropdown-button {
  background-color: var(--color-hover);
  color: var(--color-text-primary);
  padding: 6px 9px;
  font-size: 0.9rem;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 30px;
  box-sizing: border-box;
  transition: background-color 0.15s ease;
  flex-shrink: 0;
}
.ui-window__content__dropdown-button:hover {
  background-color: var(--color-active);
}
.ui-window__content__dropdown-button__wrapper {
  position: relative;
  flex-grow: 1;
  z-index: 101;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}
.ui-window__content__dropdown-list {
  position: absolute;
  top: 30px;
  right: 0;
  width: 150px;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--color-bg-variant);
  border: 1px solid var(--color-border-light);
  border-radius: 6px;
  box-shadow: var(--shadow-bold);
  display: none;
  z-index: 200;
  transform: translateY(10px);
  opacity: 0;
  transition: transform 0.15s ease-out, opacity 0.15s ease-out;
}
.ui-window__content__dropdown-list.is-open {
  display: block;
  transform: translateY(0);
  opacity: 1;
}
.ui-window__content__dropdown-item {
  color: var(--color-text-primary);
  padding: 6px 8px;
  font-size: 0.9rem;
  cursor: pointer;
  white-space: nowrap;
  height: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition: background-color 0.1s;
}
.ui-window__content__dropdown-item:hover {
  background-color: var(--color-hover);
}
.ui-window__content__dropdown-item.is-selected {
  background-color: var(--color-active);
}

/* --- TOGGLE --- */
.ui-window__content__toggle-button {
  width: 45px;
  height: 28px;
  background-color: var(--color-active);
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-shrink: 0;
}
.ui-window__content__toggle-button.is-on {
  background-color: #4cae50;
}
.ui-window__content__toggle-button__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  flex-grow: 1;
}
.ui-window__content__toggle-button__slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 22px;
  height: 24px;
  background-color: var(--color-text-primary);
  border-radius: 6px;
  transition: transform 0.3s, background-color 0.3s;
}
.ui-window__content__toggle-button.is-on .ui-window__content__toggle-button__slider {
  transform: translateX(19px);
}
.ui-window__content__toggle-button__indicator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 10px;
  font-weight: 800;
  line-height: 1;
  text-shadow: var(--shadow-bold);
  opacity: 0.8;
}
.ui-window__content__toggle-button .indicator-i {
  right: 6px;
}
.ui-window__content__toggle-button .indicator-o {
  left: 6px;
}
.ui-window__content__toggle-button:not(.is-on) .indicator-i {
  opacity: 1;
}
.ui-window__content__toggle-button.is-on .indicator-o {
  opacity: 1;
}
.ui-window__content__toggle-button.is-on .indicator-i {
  opacity: 0.3;
}
.ui-window__content__toggle-button:not(.is-on) .indicator-o {
  opacity: 0.3;
}

/* --- HELPER FLEX ROW --- */
.ui-window__helper__flex-row {
  display: flex;
  gap: 10px;
  align-items: center;
}
